// Variables Sass
$maxwidth: 1440px;

// Back Colors

$main-color: #ff6060;
$main-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(10, 10, 10, 0), rgba(4, 4, 4, 0.41), rgba(0, 0, 0, 1));

$background-color: #ffffff;
$section-color: #f6f6f673;
$footer-color: #000000;

// Text Colors
$text-dark: black;
$text-light: white;

// shadows
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

// gap

$gap-xs: 0.5rem;
$gap-sm: 1rem;
$gap: 2rem;

// padding
$padding-sm: 1.5rem;
$padding: 2rem;
$padding-lg: 3rem;

$border-radius-xs: 5px;
$border-radius-sm: 10px;
$border-radius: 25px;
