.header {
  @include flex-between;
  max-width: $maxwidth;
  padding: $padding;
  gap: $gap;
  box-sizing: border-box;

  &__logo {
    width: 210px;
  }
}

// Navigation
.navigation {
  ul {
    display: flex;
    list-style: none;
    gap: $gap;

    li {
      .nav-link {
        text-decoration: none;
        color: $text-dark;
        font-weight: 500;
        font-size: 24px;

        &.a--active {
          text-decoration: underline;
        }
      }
    }
  }
}
