.footer {
  @include flex-center;
  background-color: $footer-color;
  box-sizing: border-box;

  &__footer_container {
    @include flex-center;
    flex-direction: column;
    max-width: $maxwidth;
    gap: $gap-sm;
    padding: $padding-lg;
    color: $text-light;
  }
}
