.footer {
  @include flex-center;
  justify-content: center;
  background-color: $footer-color;
  box-sizing: border-box;

  &__footer_container {
    @include flex-center;
    flex-direction: column;
    max-width: $maxwidth;
    gap: $gap-sm;
    padding: $padding-lg;
    color: $text-light;
    img {
      width: auto;
      height: auto;
    }

    @include breakpoint-mobile {
      width: 122px;
      font-size: 14px;
      gap: $gap-xs;
      text-align: center;
    }
  }
}
