// Variables & mixins
@import "./styles/variables_config";
@import "./styles/mixins";

// Reset / base
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: $background-color;
}

#root {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  max-width: $maxwidth;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint-mobile {
    padding-top: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $padding;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// home
.home {
  @include flex-center;
  gap: $gap;

  @include breakpoint-mobile {
    padding: $padding-sm;
    gap: $gap-sm;
  }

  h2 {
    font-size: 48px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, $shadow;
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-sm;
  margin: 0 auto;
  width: 100%;
  background-color: $section-color;
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: $padding;

  @include breakpoint-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: $gap-sm;
  }
}

// about
.about {
  padding: $padding-sm;
  @include breakpoint-mobile {
    padding: $padding-sm;
    gap: $gap-sm;
  }
  .dropdown__toggle {
    font-size: 24px;

    @include breakpoint-mobile {
      font-size: 13px;
    }
  }
}

.valors-container {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;

  @include breakpoint-mobile {
    padding: 0;
    padding-top: $padding-sm;
    gap: $gap-sm;
  }

  &__valor {
    width: 80%;

    @include breakpoint-mobile {
      width: 100%;
    }
  }
}

// error
.error {
  @include flex-center;
  min-height: 60vh;
  text-align: center;
  padding: $padding;

  &__container {
    @include flex-center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: $gap;

    @include breakpoint-mobile {
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &__title {
    font-size: 288px;
    font-weight: 700;
    color: $main-color;
    margin: 0;
    line-height: 1;

    @include breakpoint-mobile {
      font-size: 96px;
    }
  }

  &__message {
    font-size: 36px;
    color: $main-color;
    margin: 0;
    line-height: 1.4;
    font-weight: 500;

    @include breakpoint-mobile {
      font-size: 18px;
    }
  }

  &__link {
    color: $text-dark;
    text-decoration: underline;
    border-radius: $border-radius;
    font-weight: 500;
    transition: background-color 0.3s ease;

    @include breakpoint-mobile {
      font-size: 14px;
    }
  }
}

// page logement
.logement-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  @include breakpoint-mobile {
    align-items: center;
    padding-top: $padding-sm;
  }
}

.logement {
  width: 100%;
  padding-bottom: $padding;
  &__infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: $gap;
    padding: $padding;
    padding-top: 0;

    @include breakpoint-mobile {
      flex-direction: column;
      padding: 0 $padding-sm $padding-sm;
      gap: $gap-sm;
    }

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      gap: $gap-sm;
      width: calc(50% - #{$padding-sm});

      @include breakpoint-mobile {
        width: 100%;
        gap: $gap-xs;
      }
    }

    &__right {
      align-items: end;
      @include breakpoint-mobile {
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0;
      }
    }

    // left content

    &__title-container {
      line-height: 1;
    }
    &__title {
      font-size: 36px;
      color: $main-color;
      font-weight: 500;

      @include breakpoint-mobile {
        font-size: 18px;
        line-height: 1.5;
      }
    }
    &__location {
      @include breakpoint-mobile {
        font-size: 14px;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-sm;

      @include breakpoint-mobile {
        gap: $gap-xs;
      }

      button {
        border-radius: 10px;
        font-size: 14px;
        height: 25px;
        min-width: 115px;
        padding: 0 $padding-sm;
        font-style: bold;
        font-weight: 700;
        color: $text-light;
        background-color: $main-color;
        border: none;

        @include breakpoint-mobile {
          font-size: 10px;
        }
      }
    }
    // right content

    &__host {
      display: flex;
      align-items: center;
      gap: $gap-xs;
      padding-top: $padding-sm;

      @include breakpoint-mobile {
        width: 100%;
        padding-top: 0;
        font-size: 12px;
        width: fit-content;
      }

      p {
        text-align: right;
        color: $main-color;

        @include breakpoint-mobile {
          margin: 0;
        }
      }
      img {
        border-radius: 100%;
        width: 64px;
        height: 64px;
        margin-left: $padding-sm;

        @include breakpoint-mobile {
          width: 32px;
          height: 32px;
          margin-left: 0;
        }
      }
    }
  }

  .equippments {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  //
  .dropdown__toggle {
    font-size: 18px;

    @include breakpoint-mobile {
      font-size: 13px;
    }
  }
}

// Composants
@import "./components/header/header";
@import "./components/footer/footer";
@import "./components/banner/banner";
@import "./components/card/card";
@import "./components/dropdown/dropdown";
@import "./components/slider/slider";
@import "./components/rating/rating";
