.slider {
  position: relative;
  width: 100%;
  height: 415px;
  // overflow: hidden;

  @include breakpoint-mobile {
    height: 255px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__navigation {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $text-light;
      text-shadow: $shadow;
      padding: $padding-xs;
      img {
        @include breakpoint-mobile {
          padding: 0;
          height: 20px;
          width: auto;
        }
      }
    }
  }
  &__counter {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: $text-light;
    text-shadow: $shadow;
    padding-bottom: $padding-sm;

    @include breakpoint-mobile {
      font-size: 14px;
    }
  }
}
